body{
  background-color: rgb(60, 140, 214);
}
.App {
  text-align: center;
}

#film-buttons{
  display: flex;
  justify-content: space-between;
}


#film-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}
